In [84]:
import pandas as pd
import numpy as np

In [86]:
dataset=pd.read_csv("PrePlacementdata.csv")

In [88]:
dataset.isnull().sum()

sl_no             0
ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
dtype: int64

In [90]:
def quanQual(dataset):
        quan=[]
        qual=[]
        for columnName in dataset.columns:
            if(dataset[columnName].dtypes=='O'):
                qual.append(columnName)
            else:
                quan.append(columnName)
        return quan,qual

In [92]:
quan,qual=quanQual(dataset)

In [94]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [100]:
dataset[quan].cov()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
sl_no,3870.000000,-52.641355,-58.106028,-40.413645,52.556168,8.102336,2.484009e+05
ssc_p,-52.641355,117.228377,60.348373,42.897137,37.659225,24.535952,1.976764e+04
hsc_p,-58.106028,60.348373,118.755706,34.819820,35.461678,22.555846,4.600806e+04
degree_p,-40.413645,42.897137,34.819820,54.151103,21.929469,17.272020,-8.064357e+03
etest_p,52.556168,37.659225,35.461678,21.929469,176.251018,16.886973,1.571579e+05
mba_p,8.102336,24.535952,22.555846,17.272020,16.886973,34.028376,6.611551e+04
salary,248400.921950,19767.643976,46008.057275,-8064.357161,157157.850783,66115.509283,5.999726e+09

In [102]:
dataset[quan].corr()

             sl_no     ssc_p     hsc_p  degree_p   etest_p     mba_p    salary
sl_no     1.000000 -0.078155 -0.085711 -0.088281  0.063636  0.022327  0.051550
ssc_p    -0.078155  1.000000  0.511472  0.538404  0.261993  0.388478  0.023571
hsc_p    -0.085711  0.511472  1.000000  0.434206  0.245113  0.354823  0.054506
degree_p -0.088281  0.538404  0.434206  1.000000  0.224470  0.402364 -0.014148
etest_p   0.063636  0.261993  0.245113  0.224470  1.000000  0.218055  0.152829
mba_p     0.022327  0.388478  0.354823  0.402364  0.218055  1.000000  0.146324
salary    0.051550  0.023571  0.054506 -0.014148  0.152829  0.146324  1.000000